{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" type="text/css" href="{% static 'app_ventana/styles.css' %}">
</head>
<body>
    <h1>Iniciar Sesión</h1>
    {% if error_message %}<p>{{ error_message }}</p>{% endif %}
    <form method="post">
        {% csrf_token %}
        <label for="user_name">Nombre:</label>
        <input type="text" name="user_name"><br>
        <label for="user_email">Correo Electrónico:</label>
        <input type="email" name="user_email"><br>
        <input type="submit" value="Iniciar Sesión">
    </form>

    <!-- Agrega un botón para cerrar sesión -->
    <form method="post" action="{% url 'cerrar_sesion' %}">
        {% csrf_token %}
        <input type="submit" value="Cerrar Sesión">
    </form>
</body>
</html>
